.tableWithOrder {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 4px;
  text-align: center;
  color: #424242;
}

.th {
  padding-top: 6px;
  padding-bottom: 14px;
  border-bottom: 1px solid #212529;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.td {
  padding-bottom: 12px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 14px;
  line-height: 20px;
}

.bold {
  font-weight: bold;
}

.mainTH {
  margin: 0 auto;
  width: 256px;
}

.ta_s {
  text-align: start;
}

.width60 {
  width: 60px;
}

.width270 {
  width: 270px;
}
