.back {
  display: inline-block;
  margin-bottom: 24px;
  color: #656565;
  cursor: pointer;
}

.title {
  margin-bottom: 27px;
  font-size: 24px;
  font-weight: 600;
  color: #0c0065;
}

.nav {
  display: flex;
  cursor: pointer;
}

.nav_item {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  border-bottom: #d4d4d4 1px solid;
}

.current {
  border-bottom: #424242 4px solid;
}
