.header {
  padding: 60px 48px 24px 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: white;
  background-color: #0c0065;
  background-image: url("../../img/header_background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
  font-weight: 600;
}

.logo {
  margin-right: 20px;
}

.top {
  margin: 0;
  font-size: 24px;
}

.bottom {
  margin: 0;
  font-size: 16px;
}

.other {
  margin-left: auto;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.red {
  color: #ea0029;
}

.gradient {
  padding-left: 12px;
  border-left: 1px solid white;
  background-color: white;
  background-image: linear-gradient(90deg, #feea0f, #fb3727, #ff2d7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
