.executionProgress {
  margin-top: 94px;
  ul {
    display: flex;
    overflow-x: scroll;
    list-style: none;
    li {
      padding-right: 40px;
      min-width: 232px;
      b {
        font-size: 18;
        color: #fe4a71;
      }
      &.behind b {
        color: #7f7f7f;
      }
    }
  }
}
