.budget {
  margin-top: 24px;
}

.period {
  margin-bottom: 42px;
  display: flex;
  align-items: center;
}

.info {
  padding-left: 20px;
  font-size: 14px;
  color: #9da7b0;
}

.stackedwrapper {
  margin-top: 65px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.title {
  margin-top: 55px;
  font-size: 20px;
  font-weight: 600;
}

.legendwrapper {
  position: absolute;
  top: -45px;
  right: 24px;
}

.legend {
  padding-top: 20px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 332px;
  height: 208px;
  box-shadow: 0 0 0 1px #d4d4d4;
}

.button {
  padding-left: 26px;
  margin-left: auto;
  cursor: pointer;
  color: #9f9f9f;
  font-size: 12;
  list-style: 20;
  background-image: url("../../../img/legendbutton.png");
  background-repeat: no-repeat;
  background-position: left;
}
