.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 243px 1fr;
  align-items: flex-start;
}

.wrapper {
  margin: 0 auto;
  margin-top: 20px;
  min-width: 781px;
  max-width: 80vw;
  padding-bottom: 120px;
}

@media (max-width: 640px) {
  /* todo */
}
