.accordion {
  margin-bottom: 2px;
  .accordion_header {
    border: 1px #dfdfdf solid;
    position: relative;
    color: #424242;
    font-size: 16;
    font-weight: 600;
    background-color: #f7f7f7;
    cursor: pointer;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    &.blue {
      background-color: #e5eeff;
      border: 3px #c5d1f8 solid;
    }
    .open {
      transform-origin: center center;
      transform: rotate(180deg);
    }
  }
}
