.accordion {
  margin-bottom: 2px;
}

.accordion_header {
  padding: 19px;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 16;
  font-weight: 600;
  color: #424242;
  background-color: #f7f7f7;
  box-shadow: inset 0 0 0 1px #dfdfdf;
  cursor: pointer;
}

.accordion_open {
  background-color: #e5eeff;
  box-shadow: inset 0 0 0 3px #c5d1f8;
}

.svg_open {
  transform: rotate(180deg);
  transform-origin: center center;
}
