.executionProgress {
  margin-top: 94px;
}

.ul {
  padding: 0;
  padding-bottom: 60px;
  display: flex;
  overflow-x: auto;
  list-style: none;
}

.li {
  margin-right: 40px;
  min-width: 232px;
  max-width: 232px;
}

.b {
  font-size: 18px;
  font-weight: 600;
  color: #fe4a71;
}

.past {
  color: #7f7f7f;
}

.p {
  font-size: 16px;
  line-height: 22px;
}
